@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* global css */
@layer base {
    html {
        font-family: "Poppins", sans-serif;
        overflow-x: hidden;
    }
}

.w-limit {
    max-width: 1300px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    user-select: none;
}

.heading-text {
    font-size: 2rem;
    font-weight: 700;
}

.paragraph-text {
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 620px) {
    .heading-text {
        font-size: 1.3rem;
    }

    .paragraph-text {
        font-size: 0.6rem;
    }
}


/* events page css */
.pastEventsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.customMinimumWidth {
    min-width: 280px;
    max-width: 280px;
}
.customMinimumHeight{
    min-height: 320px;
    max-height: 320px;
}

@media (max-width: 615px) {
    .pastEventsGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 7px;
    }
    .customMinimumWidth {
        /* min-width: 90%; */
        max-width: 90%;
    }
    .customMinimumHeight{
        min-height: 300px;
        max-height: 300px;
    }
}
@media (max-width: 400px) {
    .customMinimumHeight{
        min-height: 200px;
        max-height: 200px;
    }
}

/* single event page highlights css */

.custom-arrow::before {
    content: none !important;
}

.highlights > ul {
    list-style-type: disc;
    padding-left: 1rem;
}
.highlights > ul > li {
    margin-bottom: 0.5rem;
}

/* home page welcome css */

.highlighted-text {
    position: relative;
    display: inline-block;
    font-weight: bold;
    color: #000; /* Black text */
    padding: 5px 10px;
    font-style: italic; /* Adding an italic style for emphasis */
  }
/*   
  .highlighted-text::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%; 
    height: 50%;
    background-color: #FFDD00;
    z-index: -1;
    transform: rotate(-2deg);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    transition: width 1s ease;
  }
  
  
  .highlighted-text:hover::before {
    transform: rotate(0deg); 
    background-color: #FFD700; 
    transition: all 0.3s ease; 
  }
   */